{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-authentication">
        <div class="container-wrapper">
            <div class="form-container">

                <div class="logo-container">
                    <span class="logo"></span>
                </div>

                {% block form %}{% endblock %}

            </div>
        </div>
    </div>
{% endblock %}
