header {
    background-color: $white;
    display: flex;

    .nav-container {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .logo {
        display: block;
        @include logo(102, 44);
    }

    .nav-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        .nav-item {

        }
    }
}