.nav-container {
    background-color: $gray100;
    .nav {
        display: flex;
        height: 80px;
        padding: 0 30px;
        .nav-header {
            display: flex;
            align-items: center;
            .nav-brand {
                display: block;
                width: 44px;
                height: 60px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .nav-toggle {
                display: none;
                //TODO: Add responsive
            }
        }
        .nav-list-container {
            margin-left: 30px;
            .nav-list {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                height: 100%;
                .nav-item {
                    display: flex;
                    .nav-link {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}