.page-authentication {
    padding-top: 4rem;

    .container-wrapper {
        background-color: $white;
        max-width: 800px;
        margin: 0 auto;
        padding: 3rem 1rem;
        border-radius: 16px;
    }

    .form-container {
        max-width: 360px;
        margin: 0 auto;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        .logo {
            @include logo;
        }
    }

    .auth-title {
        text-align: center;
    }
    .auth-subtitle {
        text-align: center;
        font-size: 0.875rem;
        font-weight: $fw-regular;
        margin-bottom: 1.5rem;
        .auth-subtitle-link {
            color: $blue-dark;
        }
    }

    .row-submit .form-group,
    .button-wrapper {
        display: flex;
        justify-content: center;
    }

    .alert {
        font-size: 0.875rem;
    }
}