/*
 * Colors
 */
$white: #FFF;

$gray100: #F8F8F8;

$gray200: #D9E0E7;
$gray300: #C1CED8;
$gray400: #97A2AE;
$gray500: #6D7785;
$gray600: #585F6B;
$gray700: #434852;
$gray800: #2E3039;
$gray900: #191920;
$black: #000;

$blue-light: #0BC7F0;
$blue-dark: #00AAFF;
$blue-gradient: linear-gradient(45deg, rgba($blue-light, 1) 0%, rgba($blue-dark, 1) 100%);

$blue-light-100: #c1f7ff;
$blue-light-200: #9febff;
$blue-light-300: #7de4ff;

$blue-dark-100: #d6eeff;
$blue-dark-200: #aae0ff;
$blue-dark-300: #88d4ff;
$blue-dark-700: #19374e;
$blue-dark-800: #102634;
$blue-dark-900: #041820;

$red-100: #f4d6ce;
$red-900: #ad1e1f;

/*
 * Transitions
 */
$tr-default: all .4s ease;


/*
 * Typography
 */



/*
 * Font weights
 */
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 800;


/*
 * Shadows
 */
$bs-default: 0 2px 20px 0 rgba(#01041D, 0.08);

/*
 * Breakpoints
 */
$bp-lg: 1199;
$bp-md: 991;
$bp-sm: 767;
$bp-xs: 577;

/*
 * Misc
 */