<div class="follow-stats">
    <span class="stat follows">
        <strong>{{ follows|length }}</strong> Following
    </span>
    <span class="stat followers">
        <strong>{{ followers|length }}</strong> Followers
    </span>
</div>