<article class="post-item">
    <a href="" class="avatar">Av</a>
    <div class="post">
        <div class="header">User</div>
        <div class="body">{{ post.content }}</div>
        <div class="footer">13 Likes</div>
    </div>
</article>