<article class="post-item">
    {% if post.username is defined %}
        <a href="{{ path("profile.index", {"username": post.username}) }}" class="avatar">Av</a>
    {% else %}
        <span class="avatar">Av</span>
    {% endif %}
    <div class="post">
        <div class="header">User</div>
        <div class="body">{{ post.content }}</div>
        <div class="footer">13 Likes</div>
    </div>
</article>