.post-item {
    display: flex;
    .avatar {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border-radius: 100%;
        background-color: $gray200;
        color: $gray800;
    }
    .post {
        flex: 1;
        background-color: $gray100;
        margin-left: 0.875rem;
        border-radius: 0.5rem;
        padding: 0.875rem;
        .header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            .user-info {
                font-size: 0.875rem;
            }
            .post-info {
                font-size: 0.75rem;
                color: $gray400;
                i {
                    margin-right: 4px;
                }
            }
        }
        .body {
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
        }
    }
}

.js-adding-to-list {
    transition: $tr-default;
}